<h1><b><i>Applying Some Encoding Technique on insurance.csv</h1></b></i>
<ul>1. Label Encoding</ul>
<ul>2. One Hot Encoding</ul>
<ul>3. Ordinal Encoding</ul>

In [1]:
import pandas as pd # import pandas library for working on csv dataset
df = pd.read_csv("/content/insurance.csv")  # read insurance dataset
df.head()  # see dataset first 5 row

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
df.info()  # some information of insurance dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [3]:
df.shape  # see dataset shape

(1338, 7)

In [4]:
df.isna().sum()   # check here any null value or not

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
# here some copy of insurance dataset
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()

<h1><b>Without Encoding Technique

In [6]:
df1.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
# applying encode in sex column without encoding technique
df1.sex.unique()

array(['female', 'male'], dtype=object)

In [8]:
# replace male = 1 & female = 2
df1.sex = df.sex.replace(['male', 'female'],[1,2])
df1.head()

   age  sex     bmi  children smoker     region      charges
0   19    2  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [9]:
# applying encode in smoker column without encoding technique
df1.smoker.unique()

array(['yes', 'no'], dtype=object)

In [10]:
# replace yes = 1 & no = 0
df1.smoker = df.smoker.replace(['yes', 'no'],[1,0])
df1.head()

   age  sex     bmi  children  smoker     region      charges
0   19    2  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [11]:
# applying encode in region column without encoding technique
df1.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [12]:
# replace southwest = 1 , southeast = 2 , northwest = 3 , northeast = 4
df1.region = df.region.replace(['southwest', 'southeast', 'northwest', 'northeast'],[1,2,3,4])
df1.head()

   age  sex     bmi  children  smoker  region      charges
0   19    2  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

<h1><b>Label Encoding Technique</h1></b>

In [13]:
from sklearn.preprocessing import LabelEncoder  # import LabelEncoder module
le = LabelEncoder()  # create a object of LabelEncoder is le

In [14]:
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
# label encoding on sex column
df2.sex = le.fit_transform(df2.sex)
df2.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [16]:
# label encoding on smoker column
df2.smoker = le.fit_transform(df2.smoker)
df2.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [17]:
# label encoding on region column
df2.region = le.fit_transform(df2.region)
df2.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [18]:
#Label Encoder using for Loop
df3.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [19]:
import numpy as np  # import numpy library
import warnings as wr 
wr.filterwarnings('ignore')

for column in df3.columns:
    if df3[column].dtype == np.number:
        continue
    df3[column] = le.fit_transform(df3[column])

In [20]:
df3.head()  # after encoding using loop

   age  sex     bmi  children  smoker  region      charges
0    1    0  27.900         0       1       3  16884.92400
1    0    1  33.770         1       0       2   1725.55230
2   10    1  33.000         3       0       2   4449.46200
3   15    1  22.705         0       0       1  21984.47061
4   14    1  28.880         0       0       1   3866.85520

<h1><b>Another Way to Encode

In [21]:
df4.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [22]:
from pandas.core.dtypes.common import is_numeric_dtype
for column in df4.columns:
    if is_numeric_dtype(df4[column]):
        continue
    else:
        df4[column] = le.fit_transform(df4[column])

In [23]:
df4.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

<h1><b>One Hot Encodeing Technique

In [24]:
# here some more copy insurance dataset
df7 = df6.copy()
df8 = df6.copy()
df9 = df6.copy()
df10 = df6.copy()
df11 = df6.copy()
df12  = df6.copy()

In [25]:
df5.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [26]:
dummy_sex = pd.get_dummies(df5['sex'])  # using get_dummies for sex column
dummy_sex.head()

   female  male
0       1     0
1       0     1
2       0     1
3       0     1
4       0     1

In [27]:
# dummy variable trap 
dummy_sex = pd.get_dummies(df5['sex'],prefix='gender',drop_first=True) 
dummy_sex.head()

   gender_male
0            0
1            1
2            1
3            1
4            1

In [28]:
df5 = df5.drop('sex',axis=1)  # drop sex column
df5.head()

   age     bmi  children smoker     region      charges
0   19  27.900         0    yes  southwest  16884.92400
1   18  33.770         1     no  southeast   1725.55230
2   28  33.000         3     no  southeast   4449.46200
3   33  22.705         0     no  northwest  21984.47061
4   32  28.880         0     no  northwest   3866.85520

In [29]:
new_df5 = pd.concat([df5,dummy_sex],axis=1)   # concatination gender_male column into insurance dataset
new_df5.head()

   age     bmi  children smoker     region      charges  gender_male
0   19  27.900         0    yes  southwest  16884.92400            0
1   18  33.770         1     no  southeast   1725.55230            1
2   28  33.000         3     no  southeast   4449.46200            1
3   33  22.705         0     no  northwest  21984.47061            1
4   32  28.880         0     no  northwest   3866.85520            1

In [30]:
# get_dummies using loop
col = ['sex']

for column in col:
    one = pd.get_dummies(df6[column])
    df6= pd.concat([df6,one],axis=1).drop(column,axis=1)

In [31]:
df6.head()

   age     bmi  children smoker     region      charges  female  male
0   19  27.900         0    yes  southwest  16884.92400       1     0
1   18  33.770         1     no  southeast   1725.55230       0     1
2   28  33.000         3     no  southeast   4449.46200       0     1
3   33  22.705         0     no  northwest  21984.47061       0     1
4   32  28.880         0     no  northwest   3866.85520       0     1

In [32]:
col = ['sex']

for column in col:
    one = pd.get_dummies(df7[column], drop_first=True,prefix='gender')
    df7 = pd.concat([df7,one],axis=1).drop(column,axis=1)

In [33]:
df7.head()

   age     bmi  children smoker     region      charges  gender_male
0   19  27.900         0    yes  southwest  16884.92400            0
1   18  33.770         1     no  southeast   1725.55230            1
2   28  33.000         3     no  southeast   4449.46200            1
3   33  22.705         0     no  northwest  21984.47061            1
4   32  28.880         0     no  northwest   3866.85520            1

In [34]:
dummy_smoker = pd.get_dummies(df5['smoker'])  # using get_dummies for smoker column
dummy_smoker.head()

   no  yes
0   0    1
1   1    0
2   1    0
3   1    0
4   1    0

In [35]:
# dummy variable trap 
dummy_smoker = pd.get_dummies(df5['smoker'],prefix='smoker',drop_first=True) 
dummy_smoker.head()

   smoker_yes
0           1
1           0
2           0
3           0
4           0

In [36]:
df5 = df5.drop('smoker',axis=1)  # drop smoker column
df5.head()

   age     bmi  children     region      charges
0   19  27.900         0  southwest  16884.92400
1   18  33.770         1  southeast   1725.55230
2   28  33.000         3  southeast   4449.46200
3   33  22.705         0  northwest  21984.47061
4   32  28.880         0  northwest   3866.85520

In [37]:
new_df5 = pd.concat([df5,dummy_sex,dummy_smoker],axis=1)   # concatination smoker_yes column into insurance dataset
new_df5.head()

   age     bmi  children     region      charges  gender_male  smoker_yes
0   19  27.900         0  southwest  16884.92400            0           1
1   18  33.770         1  southeast   1725.55230            1           0
2   28  33.000         3  southeast   4449.46200            1           0
3   33  22.705         0  northwest  21984.47061            1           0
4   32  28.880         0  northwest   3866.85520            1           0

In [38]:
# get_dummies using loop
col = ['smoker']

for column in col:
    one = pd.get_dummies(df6[column])
    df6= pd.concat([df6,one],axis=1).drop(column,axis=1)

In [39]:
df6.head()

   age     bmi  children     region      charges  female  male  no  yes
0   19  27.900         0  southwest  16884.92400       1     0   0    1
1   18  33.770         1  southeast   1725.55230       0     1   1    0
2   28  33.000         3  southeast   4449.46200       0     1   1    0
3   33  22.705         0  northwest  21984.47061       0     1   1    0
4   32  28.880         0  northwest   3866.85520       0     1   1    0

In [40]:
col = ['smoker']

for column in col:
    one = pd.get_dummies(df7[column], drop_first=True,prefix='smoker')
    df7 = pd.concat([df7,one],axis=1).drop(column,axis=1)

In [41]:
df7.head()

   age     bmi  children     region      charges  gender_male  smoker_yes
0   19  27.900         0  southwest  16884.92400            0           1
1   18  33.770         1  southeast   1725.55230            1           0
2   28  33.000         3  southeast   4449.46200            1           0
3   33  22.705         0  northwest  21984.47061            1           0
4   32  28.880         0  northwest   3866.85520            1           0

In [42]:
dummy_region = pd.get_dummies(df5['region'])  # using get_dummies for region column
dummy_region.head()

   northeast  northwest  southeast  southwest
0          0          0          0          1
1          0          0          1          0
2          0          0          1          0
3          0          1          0          0
4          0          1          0          0

In [43]:
# dummy variable trap 
dummy_region = pd.get_dummies(df5['region'],prefix='region',drop_first=True) 
dummy_region.head()

   region_northwest  region_southeast  region_southwest
0                 0                 0                 1
1                 0                 1                 0
2                 0                 1                 0
3                 1                 0                 0
4                 1                 0                 0

In [44]:
df5 = df5.drop('region',axis=1)  # drop region column
df5.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [45]:
# concatination region_northwest , region_southeast	, region_southwest column into insurance dataset
new_df5 = pd.concat([df5,dummy_sex,dummy_smoker,dummy_region],axis=1)   
new_df5.head()

,age,bmi,children,charges,gender_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

In [46]:
# get_dummies using loop
col = ['region']

for column in col:
    one = pd.get_dummies(df6[column])
    df6= pd.concat([df6,one],axis=1).drop(column,axis=1)

In [47]:
df6.head()

,age,bmi,children,charges,female,male,no,yes,northeast,northwest,southeast,southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [48]:
col = ['region']

for column in col:
    one = pd.get_dummies(df7[column], drop_first=True,prefix='region')
    df7 = pd.concat([df7,one],axis=1).drop(column,axis=1)

In [49]:
df7.head()

,age,bmi,children,charges,gender_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

<h1><b>Ordinal Encoding Technique

Ordinal Encoding in sex column

In [50]:
df8.sex.unique()

array(['female', 'male'], dtype=object)

In [51]:
gender = ['female', 'male']

from sklearn.preprocessing import OrdinalEncoder
oe_gen = OrdinalEncoder(categories=[gender])

In [52]:
oe_gen

OrdinalEncoder(categories=[['female', 'male']])

In [53]:
encoded_gen = oe_gen.fit_transform(df9[['sex']])

In [54]:
en_gen = pd.DataFrame(encoded_gen,columns=['gender'])

In [55]:
en_gen.head()

   gender
0     0.0
1     1.0
2     1.0
3     1.0
4     1.0

In [56]:
df8.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [57]:
cols = ['sex']

for col in cols:
    unique_gen = df9[col].unique()
    df9[col] = OrdinalEncoder(categories=[unique_gen]).fit_transform(df9[[col]])

In [58]:
df9.head()

   age  sex     bmi  children smoker     region      charges
0   19  0.0  27.900         0    yes  southwest  16884.92400
1   18  1.0  33.770         1     no  southeast   1725.55230
2   28  1.0  33.000         3     no  southeast   4449.46200
3   33  1.0  22.705         0     no  northwest  21984.47061
4   32  1.0  28.880         0     no  northwest   3866.85520

Ordinal Encoding in smoker column

In [59]:
df8.smoker.unique()

array(['yes', 'no'], dtype=object)

In [60]:
smoker = ['no', 'yes']

from sklearn.preprocessing import OrdinalEncoder
oe_smoker = OrdinalEncoder(categories=[smoker])

In [61]:
oe_smoker

OrdinalEncoder(categories=[['no', 'yes']])

In [62]:
encoded_smoker = oe_smoker.fit_transform(df9[['smoker']])

In [63]:
en_smoker = pd.DataFrame(encoded_smoker,columns=['smoker'])

In [64]:
en_smoker.head()

   smoker
0     1.0
1     0.0
2     0.0
3     0.0
4     0.0

In [65]:
cols = ['smoker']

for col in cols:
    unique_smoker = df9[col].unique()
    df9[col] = OrdinalEncoder(categories=[unique_smoker]).fit_transform(df9[[col]])

In [66]:
df9.head()

   age  sex     bmi  children  smoker     region      charges
0   19  0.0  27.900         0     0.0  southwest  16884.92400
1   18  1.0  33.770         1     1.0  southeast   1725.55230
2   28  1.0  33.000         3     1.0  southeast   4449.46200
3   33  1.0  22.705         0     1.0  northwest  21984.47061
4   32  1.0  28.880         0     1.0  northwest   3866.85520

Ordinal Encoding in region column

In [67]:
df8.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [68]:
region = ['southwest', 'southeast', 'northwest', 'northeast']

from sklearn.preprocessing import OrdinalEncoder
oe_region = OrdinalEncoder(categories=[region])

In [69]:
oe_region

OrdinalEncoder(categories=[['southwest', 'southeast', 'northwest',
                            'northeast']])

In [70]:
encoded_region = oe_region.fit_transform(df9[['region']])

In [71]:
en_region = pd.DataFrame(encoded_region,columns=['region'])

In [72]:
en_region.head()

   region
0     0.0
1     1.0
2     1.0
3     2.0
4     2.0

In [73]:
cols = ['region']

for col in cols:
    unique_region = df9[col].unique()
    df9[col] = OrdinalEncoder(categories=[unique_region]).fit_transform(df9[[col]])

In [74]:
df9.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520